<footer>
  <div class="footer_links">
    <%= link_to "Songs", songs_path %>
    |
    <%= link_to "Playlists", playlists_path %>
    |
    <%= link_to "Contact Us", contact_path %>
  </div>
  <p class="copyright">&copy; Ismail Sabet, Inc.</p>
</footer>
