<footer>
  <div class="footer_links">
    <%= link_to "Playlist", playlists_path %>
    |
    <a href="#">Albums</a>
    |
    <a href="#">Songs</a>
    |
    <%= link_to "Contact Us", contact_path %>
  </div>
  <p class="copyright">&copy; Ismail Sabet, Inc.</p>
</footer>
