<footer>
  <div class="footer_links">
    <%= link_to t('.songs'), songs_path %>
    |
    <%= link_to t('.playlists'), playlists_path %>
    |
    <%= link_to t('.contact'), contact_path %>
  </div>
  <p class="copyright">&copy; <%= t('.copyright')%></p>
</footer>
