<header>
  <div class="container">
    <nav>
      <%= link_to "Sunny's funland", root_path, class: "title" %>
      <div class="nav_links">
        <a href="#" class="button">Songs</a>
        <a href="#" class="button">Albums</a>
        <a href="playlists" class="button">Playlists</a>
        <a href="contact" class="button">Contact Us</a>
      </div>
      <a href="#" class="button menu"><i class="fas fa-bars"></i> Menu</a>
    </nav>
  </div>
</header>
